<div class="container d-flex justify-content-center pt-2">
  <div class="card w-100">
    <div class="card-header bg-primary text-white">
      <h2 class="text-center">Past Order</h2>

<% @order.items.each do |item| %>
    <p>
        <%= item.title %>
        <%= item.price %>
        <%= item.order_items.find_by(order_id: @order.id).quantity %>
        <%= item.price * item.order_items.find_by(order_id: @order.id).quantity %>
    </p>
<% end %>
<th><%= @order.total %> €</th>
    </div>
  </div>
</div>