<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<center>
		<div class="card rounded-0">
			<div class="card-header rounded-0">
				<h1>Nouvelle commande sur HelloKitties</h1>
			</div>
			<div class="card-body">
				<p>
					Bonjour <%=@admin.email%>, 
					Il y a eu une nouvelle commande sur votre site !
					<ul>
						<h2>L'utilisateur : <%=@acheteur.email%> a acheté :</h2>
						<% total = 0 %>
						<% @items.each do |item| %>
							<li>
								<%= item.title %>, à un prix de $<%=item.price%>
							</li>
							<% total += item.price.to_i %>
						<% end %>
						<li>Total : <%= total %></li>
					</ul>
				</p>
			</div>
		</div>
	</center>
</body>
</html>