<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<center>
		<div class="card rounded-0">
			<div class="card-header rounded-0">
				<h1>Confirmation de votre achat</h1>
			</div>
			<div class="card-body">
				<p>
					Bonjour <%=@user.email%>, 
					nous te confirmons l'achat de l'article : 
					<ul>
						<% total = 0 %>
						<% @item.each do |item| %>
							<li>
								<%= item.title %>, à un prix de <%=item.price%> €
                                <%= image_tag item.picture, height: "300px;" %>
							</li>
							<% total += item.price %>
						<% end %
						<li>Total : <%= total %> €</li>
					</ul>
				</p>
				<p>
					Si ce n'est pas toi qui as effectué le paiement, bah c'est ton problème... je suis pas ta mère !
				</p>
			</div>
		</div>
	</center>
</body>
</html>