<!--Jumbotron -->
<div class="jumbotron text-center">
  <h2 class="display-3" style="color: #053557">HelloKitties</h2>
  <p class="lead">Miaow Miaow</p>
  <% unless user_signed_in? %>
    <%= link_to "Inscription", new_user_registration_path, class: "text-white btn btn-info" %>
    <%= link_to "Connexion", new_user_session_path, class: "btn btn-outline-info" %>
  <%end%>
</div>

<!-- List of Items -->
<div class="container">
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="https://i.pinimg.com/originals/9b/59/87/9b59874cc4b095566b8d5ba453d3c53e.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text"><%= item.title %></p>
            <div class="align-items-center">
              <div class="btn-group">
                <%=link_to "View", item_path(item.id), method: :get, class: "btn btn-sm btn-outline-secondary" %>
              </div>
              <% if user_signed_in? %>
                <div class="btn-group">
                  <%=link_to "Add to Cart", cart_path(item.id), method: :put, class: "btn btn-sm btn-secondary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
