<div class="container pt-4">
  <div class="card-deck text-center">
    <div class="card mb-4 shadow-sm">
      <!-- Card header -->
      <div class="card-header">
        <h3 class="my-0 font-weight-normal text-secondary"><%= @items.title%></h3>
      </div>
        <div class="card mb-4 box-shadow">
          <% if @items.picture.attached? %>
              <%= image_tag @items.picture, alt: "Product image", class: "card-img-top" %>
          <% else %>
              <img class="card-img-top" src="https://us.123rf.com/450wm/pe3check/pe3check1710/pe3check171000054/88673746-aucune-image-disponible-signe-ic%C3%B4ne-internet-pour-indiquer-l-absence-d-image-jusqu-%C3%A0-ce-que-celle-ci-soit.jpg?ver=6" alt="Card image cap">
          <%end%>  
      <!-- Card body -->
      <div class="card-body text-left my-auto">
        <p class="font-weight-bold"> Description : <%= @items.description %> </p>
        </br>
        <div class="p-2 text-dark"> 
          <form action= "/charges/new" method="GET">
            <input type="hidden" name="price" value="<%= @items.price %>">
            <input type="submit" class="btn btn-info" value="J'achète">
          </form>
          <div class="btn-group">
            <%=link_to "Add to Cart", cart_path(@items.id), method: :put, class: "btn btn-sm btn-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>